.contenedor{
    width: 500px;
    height: 500px;
    background-color: coral;
}

.botones{
    background-color: chartreuse;
    /*padding: 100px;*/
    /*height: 500px;
    width: 100px;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#numero{    
    background-color: darkblue;
    margin: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: cen;
}

.espacioText{
    background-color: aqua;
    text-align: right;
}