.contenedor{
    width: min-content;
    height: min-content;
    background-color: rgb(217, 80, 7);
    overflow: hidden;
    border-radius: 10px;
}

.botones{
    background-color: rgb(45, 26, 85);
    padding: 10px;
    width: fit-content;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.9),
                0 0 10px rgba(0,0,0,0.9),
                0 0 10px rgba(0,0,0,0.9),
                0 0 10px rgba(0,0,0,0.9);
}

.numero{   
    box-sizing: border-box; 
    background-color: rgb(88, 88, 192);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.numero:hover{
    background-color: rgb(0, 0, 201);
}

.numero:active{
    transform: scale(1.1);
}

.espacioText{
    background-color: aqua;
    height: 50px;
    margin: 10px;
    border-radius: 10px 10px 0 0;
}

.text{
    background-color: rgba(223, 31, 31, 0.475);
    border-color: rgb(26, 14, 14) 1px solid;
    font-size: 25px;
    text-align: right;
    color: rgb(0, 0, 0);
    height: 20px;
}